<f:layout name="Default" />

<f:section name="Title">A list of projects</f:section>

<f:section name="Content">
	<f:if condition="{projects}">
		<f:then>
			<ul>
				<f:for each="{projects}" as="project">
					<li>
						<f:link.action action="show" arguments="{project: project}">{project.name}</f:link.action>
						<f:link.action action="edit" arguments="{project: project}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{project: project}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No projects created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new project</f:link.action></p>
</f:section>